{% extends 'admin/base.html.twig' %}

{% block title %}Hello PositionController!
{% endblock %}
{% block stylesheets %}
    <style>
        .select2-container .select2-selection--single {
            width:100% !important;
            height: 37px;
        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice{
            background-color: #007bff;
        }
    </style>
{% endblock %}
{% block body %}
	<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
            
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
	<!-- Horizontal Form -->
	<div class="card card-info">
		{# <div class="card-header">
			<h3 class="card-title">Ajouter les informations</h3>
		</div> #}
		<!-- /.card-header -->
		<!-- form start -->
		<div class="card-body">
            
            <embed
            type="application/pdf"
            src="{{asset('uploads/pdf/consultation/' ~ consultation.filePrescription)}}"
            id="pdfDocument"
            width="100%"
            height="100%" />
            
		</div>
	</div>
	<!-- /.card -->
{% endblock %}
{% block javascripts %}


    <script type="text/javascript">
      
        function printDocument(documentId) {
            var doc = document.getElementById(documentId);

            //Wait until PDF is ready to print    
            if (typeof doc.print === 'undefined') {    
                setTimeout(function(){printDocument(documentId);}, 1000);
            } else {
                doc.print();
            }
        }

    </script>
 
{% endblock %}