{{ form_start(formUpdatePassword)  }}
<div class="row">
	<div class="col-lg-6">
		<div class="form-group">
			{{ form_row(formUpdatePassword.password) }}
		</div>
	</div>
	<div class="col-lg-6">
		<div class="form-group">
			{{ form_row(formUpdatePassword.confirm_password) }}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<button type="submit" class="btn btn-success btn-block">Modifier</button>
	</div>

	<div class="col-lg-6">
		<button type="reset" class="btn btn-default btn-block">Reseter</button>
	</div>
</div>

{{ form_end(formUpdatePassword) }}
