{{ form_start(formSearch) }}
    <div class="row">
        
        <div class="col-lg-5">
            <div class="form-group">
                {{ form_row(formSearch.month) }}
            </div>
        </div>
        <div class="col-lg-5">
            <div class="form-group">
                {{ form_row(formSearch.years) }}
            </div>
        </div>
        <div class="col-lg-2">
            <button type="submit" class="btn btn-warning btn-block">
                Rechercher  <i class="fas fa-search"></i>
            </button>
        </div>
            
    </div>

{{ form_end(formSearch) }}