<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Facture pdf</title>

    <style>
        body {
            width: 18.6cm;
            height: 27.7cm; 
            font-family: helvetica; 
            font-size: small;
        }
        td{
            font-size: 12px;
        }
        @media print {
            body, page {
                margin: 0;
                box-shadow: 0;
            }
        }
        .mybody,.myheader,.myfooter { 
            width: 100%; 

        }
        .head { 
            width: 100%; 
            margin: 10px 10px ;
        }
        .head .client { 
            width: 350px; 
            padding-bottom: 30px;
            padding-left: 150px;
        }
        .head .seller { 
            width: 350px; 
            padding-bottom: 1em;
            padding-bottom: 30px;
        }
        .myfooter{
            position: absolute;
            bottom: 0;
        }
        .footer{
            width: 100%;
        }
        .footer .client { 
            width: fit-content; 
        }
        .footer .page_number { 
            text-align: right;
        }
        
        .head .detail { 
            width: 700px; 
            padding-bottom: 30px;
        }
        
        .order { 
            max-width: 100%;
            width: 100%; 
            color: #717375; 
            line-height: 5mm; 
            border-collapse: collapse; 
        }
        .order thead tr { 
            background-color:#dee1e5;
            color:#000000;
            border : none ;
        }
        
        .order thead tr th{ 
            height: 50px;
            text-align: center;
            border:solid 1px #000;
        }
        .order thead tr th.description{ 
            width: 320px;
            border:solid 1px #000;
                
        }
        .order thead tr th.quantity{ 
            width: 100px;
        }
        .order thead tr th.pu{ 
            width: 150px;
                
        }

        .order tbody tr td.description{ 
            padding-left: 20px;
        }
        
        .order tbody .last-item td{ 
            border-bottom: 1px solid #000 ;
        }
        
        .order tbody tr td.important{ 
            background-color:#dee1e5;
        }
        .order tbody tr td{ 
            border-right:solid 1px #000;
            border-left:solid 1px #000;
        }
        
        .order tbody tr td.quantity{ 
            text-align: center;
        }
        .order tbody tr td.pu{ 
            text-align: center ;
        }
        .order tbody tr td.pht{ 
            text-align: center ;
        }
        .order tbody tr td{ 
            border-collapse: collapse;
            height: 30px;
        }
        .order tfoot tr td.important{ 
            background-color:#dee1e5;
            height: 30px;
                
        }
        .order tfoot tr td.entity{ 
            text-align: center;
            border:solid 1px #000;
            text-align: right;
            padding-right: 20px;
        }
        .order tfoot tr td.has-border-right{ 
            border-right: 1px solid #000;
        }
        .order tfoot .has-border-top{ 
            border-top: 1px solid #000;
            background: red;
        }
        .order tfoot tr td.pht{ 
            text-align: center;
            border:solid 1px #000;
        }
        img{
            width: 20%;
        }
        h2 { margin: 0; padding: 0; }
        p { margin: 5px; color: #717375; }
        .border th { 
            border: 1px solid #000;  
            color: white; 
            background: #000; 
            padding: 5px; 
            font-weight: normal; 
            font-size: 14px; 
            text-align: center; 
        }
        .border td { 
            border: 1px solid #CFD1D2; 
            padding: 5px 10px; 
            text-align: center; 
        }
        .no-border { 
            border-right: 1px solid #CFD1D2; 
            border-left: none; 
            border-top: none; 
            border-bottom: none;
        }
        .wording{
            color: #717375;
            font-size: 11px;
        }

        .p-6  { width: 6%; } .p-8 { width: 8%; }
        .p-10 { width: 10%; } .p-15 { width: 15%; } 
        .p-33 { width: 33%; } .p-45 { width: 45%; }
        .p-20 { width: 20%; } .p-75{ width: 75%; }
    </style>
</head>
<body>
    <div class="p-33">
        <h4>Ordonnance : Smisa {{consultation.id}}</h4>
        <h5 style="color: #717375;">{{consultation.created|date('d F Y')}}</h5>
    </div>
</body>
</html>